/* public/index.html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

main {
    padding: 40px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

ol {
    margin-bottom: 1rem;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ol>ul>li {
    margin-bottom: 0.5rem;
    margin-left: 80px;
}

ol li {
    margin-bottom: 0.5rem;
    margin-left: 40px;
}

ul li {
    margin-bottom: 0.5rem;
    margin-left: 40px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}